.paragraph{    
    padding: 30px;
    color: #D0D6F9;
    font-size: 18px ;
    font-weight: 600;
    letter-spacing: 2.7px;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 2;
    justify-content: center;
} 
.paragraphHome{
    max-width: 450px;
}
.destinationParagraph{ 
    min-height: 112px;
    max-width: 450px;      
    text-align: center;
    font-size: 15px;
    margin:0 20px;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 2px;
   
}
.crewParagraph{
    
    text-align: center;
    padding: 0 30px 30px 30px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
}

@media (min-width: 768px){
    .destinationParagraph{       
        width: 600px;
        font-size: 16px;
       
    }
    .crewParagraph{    
    width: 500px;
    min-height: 138px;
    font-size: 16px;
    line-height: 27px;
    }



}
@media (min-width: 992px){
    .destinationParagraph{  
        min-height: 90px;     
        text-align: left;
        margin: 0;
        font-size: 18px;
    }
    .crewParagraph{    
        width: 500px;
        min-height: 138px;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        padding: 0;
        }
    }
@media (min-width: 1300px){

}
